<article class="bg-red flex justify-between text-white p-6 rounded-2xl shadow-sm">
    <div>
        <h2 class="text-[13px]">My balance</h2>
        <h3 class="text-[24px] font-bold">$921.48</h3>
    </div>
    <img src="/logo.svg" alt="logo">
</article>